.boldPanel label {
    font-weight: bold;
}

.cardSection {
    padding: 15px;
    border: 0.5px lightgray solid;
    border-radius: 5px;
    height: 100%;
}

.roomImg {
    width: 250px;
    max-width: 100%;
}