.headerTitle {
    background-color: lightgray;
    text-transform: uppercase;
}

#loginLink {
    position: absolute;
    top: 15px;
    right: 15px;
}

#homeIcon {
    position: absolute;
    left: 25px;
    top: 15px;
    cursor: pointer;
}

#homeIcon img {
    width: 30px;
}