<div class="container">
    <h3>{{pageTitle}}</h3>
    <div class="row" id="roomListPanel">
        <div class="col-md-12 mt-2" *ngFor="let room of rooms;let i = index">

            <div class="card">
                <div class="row">
                    <div class="col-md-3">
                        <img class="roomImg" src="https://images.oyoroomscdn.com/uploads/hotel_image/39654/medium/c9373c2b206174a2.jpg">
                    </div>
                    <div class="col-md-9">
                        <div class="containerPanel">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><b>Room No : </b> {{room.RoomNo}}</h4>
                                    <p><b>Number of beds : </b> {{room.NoOfBed}}</p>
                                    <p><b>Facility : </b>Parking slot, {{room.AcnonAc?'AC':'Non-Ac'}}</p>
                                </div>
                                <div class="col-md-6">
                                    <table>
                                        <tr *ngIf="occupiedCustomerList && occupiedCustomerList.length>0">
                                            <th>Customer : </th>
                                            <td>{{occupiedCustomerList[i].FirstName}} {{occupiedCustomerList[i].MiddleName}} {{occupiedCustomerList[i].LastName}}</td>
                                        </tr>
                                        <tr *ngIf="occupiedCustomerList && occupiedCustomerList.length>0">
                                            <th>Phone : </th>
                                            <td>{{occupiedCustomerList[i].PhoneNo}}</td>
                                        </tr>
                                        <tr *ngIf="occupiedCustomerList && occupiedCustomerList.length>0">
                                            <th>Check in : </th>
                                            <td>{{occupiedCustomerList[i].CheckinTime | date: 'dd MMM yyyy - h:mm a'}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <button *ngIf="occupiedCustomerList && occupiedCustomerList.length>0" type="button" class="btn btn-primary btnRoomSubmit" (click)="SubmitRoom(room.Id,occupiedCustomerList[i].Id)">{{roomBtnText}}</button>
                            <button *ngIf="occupiedCustomerList && occupiedCustomerList.length==0" type="button" class="btn btn-primary btnRoomSubmit" (click)="SubmitRoom(room.Id)">{{roomBtnText}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>