<div class="container text-center">
    <h3 class="w-100 text-center">Search customer</h3>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search for existing user (with Passport, mobile,EmailID)">
                <div class="input-group-append">
                    <button type="button" class="input-group-text" id="btnExistuse">Go</button>
                </div>
            </div>
            <h5>New user ?</h5>
            <button type="button" class="btn btn-success" routerLink="/customer/register/1">Add + </button>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>